@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron:wght@500&family=Poppins:wght@400;600&display=swap");

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/images/bg-desktop.svg) var(--violet);
}
