@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron:wght@500&family=Poppins:wght@400;600&display=swap");

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --content-width: 90%;
  --content-width-max: 1400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: center / cover url(images/bg-desktop.svg) var(--violet);
}

header nav {
  width: var(--content-width);
  max-width: var(--content-width-max);
  height: 70px;
  margin: 3rem auto 0;

  display: flex;
  justify-items: flex-start;
  align-items: center;
}

.huddle-introduction {
  justify-content: center;
  padding-top: 3rem;
}

.introduction-content {
  width: var(--content-width);
  margin: 0 auto;
  max-width: var(--content-width-max);
  display: flex;
}

.introduction-content .image-container {
  flex: 1.2;
}

.introduction-content .image-container img {
  width: 100%;
}

.introduction-content .content-container {
  flex: 1;
  padding: 3rem 3rem;
  color: #fff;
}

.introduction-content h1 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.introduction-content .content-container p {
  line-height: 1.7;
  margin-bottom: 1rem;
}

.introduction-content .register-btn {
  background-color: #fff;
  display: inline-block;
  padding: 0.8rem 3rem;
  color: var(--violet);
  border-radius: 1000px;
  text-decoration: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  cursor: pointer;
}

.introduction-content .register-btn:hover {
  background-color: var(--soft-magenta);
  color: #fff;
  transition: all 0.3s;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

footer {
  margin-bottom: 3rem;
}

footer div {
  width: var(--content-width);
  max-width: var(--content-width-max);
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

ion-icon {
  display: flex;
  font-size: 20px;
  padding: 10px;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 50%;
}

ion-icon:hover {
  color: var(--soft-magenta);
  border-color: var(--soft-magenta);
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  :root {
    --content-width: 80%;
  }

  body {
    background: top / contain url(images/bg-mobile.svg) var(--violet) no-repeat;
  }

  header nav {
    margin-top: 1.4rem;
  }
  nav img {
    max-width: 10rem;
  }

  .introduction-content {
    flex-direction: column;
    margin-bottom: 4.5rem;
  }

  .introduction-content .image-container {
    margin-bottom: 2rem;
    /* flex: 1; */
  }

  .introduction-content .content-container {
    padding: 0;
    text-align: center;
  }

  .introduction-content .content-container h1 {
    font-size: 1.6rem;
  }

  .introduction-content .content-container p {
    line-height: 2;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  footer div {
    justify-content: center;
  }
}
