@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron:wght@500&family=Poppins:wght@400;600&display=swap");

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --content-width: 1400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: center / cover url(/images/bg-desktop.svg) var(--violet);
}

header nav {
  width: 90%;
  max-width: var(--content-width);
  height: 70px;
  margin: 3rem auto 0;

  display: flex;
  justify-items: flex-start;
  align-items: center;
}

.huddle-introduction {
  /* display: flex; */
  justify-content: center;
  padding-top: 3rem;
}

.introduction-content {
  width: 90%;
  margin: 0 auto;
  max-width: var(--content-width);
  display: flex;
}

.introduction-content .image-container {
  flex: 1.2;
  /* background-color: red; */
}

.introduction-content .image-container img {
  width: 100%;
  /* max-width: 100%; */
}

.introduction-content .content-container {
  flex: 1;
  padding: 3rem 3rem;
  /* background-color: yellow; */
  color: #fff;
}

.introduction-content h1 {
  font-size: 2.4rem;
  font-weight: 600;
}

.introduction-content .content-container p {
  line-height: 1.7;
}

.introduction-content .register-btn {
  background-color: #fff;
  display: inline-block;
  padding: 0.8rem 3rem;
  color: var(--violet);
  border-radius: 1000px;
  text-decoration: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  cursor: pointer;
}

.introduction-content .register-btn:hover {
  background-color: var(--soft-magenta);
  color: #fff;
  transition: all 0.3s;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}
